<div class="navbar justify-content-between">
  <div class="nav-item">
    <a href="/">Home</a>
  </div>
  <div class="navbar">
    <div class="nav-item m-2">
      <a href="/Treats">View Treats</a>
    </div>
    <div class="nav-item m-2">
      <a href="/Flavors">View Flavors</a>
    </div>
    <div class="nav-item m-2">
      <a href="/Account">Account</a>
    </div>
  </div>
</div>