@{
  Layout = "_Layout";
}

<h1>Bakery Products</h1>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("View treats", "Index", "Treats")</p>
<p>@Html.ActionLink("View flavors", "Index", "Flavors")</p>